@import "common/sass/variables";

header {
  background-color: $BG-Dark;
}

.header-container {
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1450px) {
    height: 130px;
  }
  @media (max-width: 920px) {
    height: 110px;
  }
  @media (max-width: 730px) {
    height: 90px;
  }
}
