@import "common/sass/variables";

.modal-window-overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: all .3s linear;
}

.modal-window {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 100%;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, .2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s linear;
}

.modal-window-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
}

.modal-window-booking {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  @media (max-width: 920px) {
    flex-direction: column;
    align-items: center;
  }
}

.modal-window-booking-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .modal-window-booking-header {
    margin-bottom: 60px;
    text-align: left;

    .modal-window-booking-header-img {
      width: 85px;
      height: 41px;
      filter: invert(85%) sepia(3%) saturate(3304%) hue-rotate(349deg) brightness(62%) contrast(104%);
    }
  }

  .modal-window-booking-header > .modal-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 15px;
  }

  .modal-window-booking-header > h3 {
    margin-bottom: 10px;
    color: $Dark-red;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  .modal-window-booking-header > h3:after {
    bottom: -10px;
  }

  .modal-window-booking-form-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .modal-window-booking-form-date > label {
    position: relative;
    flex-grow: 1;
    padding-bottom: 20px;
  }
  .modal-window-booking-form-date > label:last-child {
    margin-left: 20px;
  }
  .modal-window-booking-form-date > label > img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: 15px;
  }

  .modal-window-booking-form-date > label > input {
    padding: 12px 15px;
    width: 100%;
    border: 1px solid #030303;
  }

  .modal-window-booking-form-date > label > input[type="date"]:before {
    width: 100%;
    margin-left: 30px;
    content: "Date";
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #030303;
  }
  .modal-window-booking-form-date > label > input[type="time"]:before {
    width: 100%;
    margin-left: 30px;
    content: "Time";
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #030303;
  }

  .modal-window-booking-form-date > label > input::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 1;
    right: 15px;
    background-image: url("./assets/svg/modal-icons/arrow.svg");
    background-size: 17px;
  }
  .modal-input-name:invalid {
    color: #710707;
  }
  .modal-input-name:valid {
    color: chartreuse;
  }
  .modal-input-email:invalid {
    color: #710707;
  }
  .modal-input-email:valid {
    color: chartreuse;
  }
}

.modal-window-booking-form > label {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.modal-window-booking-form > label > img {
  position: absolute;
  align-self: center;
  left: 15px;
}

.modal-window-booking-form > label > input {
  width: 100%;
  padding: 15px 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #030303;
  border: 1px solid #030303;
}

.modal-window-booking-form > label > select {
  width: 100%;
  padding: 15px 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #030303;
  border: 1px solid #030303;
}

.modal-window-booking-form > label > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./assets/svg/modal-icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
  border: 1px solid #030303;
}

.modal-window-booking-form > label > select > option {
  font-family: $Font-text;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  border: 1px solid black;
}

.modal-window-booking-form > .tickets-container-buy-form-tickets-amount {
  width: 100%;
  border: 1px solid #030303;
  padding: 10px 15px 15px;
}

.modal-window-booking-form > .tickets-container-buy-form-tickets-amount > h4 {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  align-self: flex-start;
  font-family: $Font-heading;
  color: $Font-gold;
  text-transform: capitalize;
}

.modal-window-booking-form > .tickets-container-buy-form-tickets-amount > h4:after {
  bottom: -5px;
}

.modal-window-booking-form {
  .tickets-container-buy-form-tickets-amount > .tickets-container-buy-form-tickets-amount-quantity {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tickets-container-buy-form-tickets-amount > .tickets-container-buy-form-tickets-amount-quantity > h5 {
    font-family: $Font-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
  }

  .tickets-container-buy-form-tickets-amount {
    .tickets-container-buy-form-tickets-amount-quantity {
      @media (max-width: 1450px) {
        margin-bottom: 20px;
      }
      &:last-child {
        @media (max-width: 1450px) {
          margin-bottom: 0;
        }
      }
      .tickets-container-buy-form-tickets-amount-quantity-box {
        border: 1px solid #030303;
        width: 105px;
        height: 25px;
      }
      .tickets-container-buy-form-tickets-amount-quantity-box .input-text {
        height: 25px;
        font-family: $Font-text;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #030303;
      }
      .tickets-container-buy-form-tickets-amount-quantity-box .minus,
      .tickets-container-buy-form-tickets-amount-quantity-box .plus {
        width: 34px;
        height: 24px;
        line-height: 0;
        font-size: 20px;
        background-color: #030303;
        color: #ffffff;
        border: none;
      }
    }
  }
}
.modal-window-booking-card {
  position: relative;
  max-width: 530px;
  width: 100%;
  padding: 25px 30px;
  margin-left: 40px;
  border: 1px solid #030303;
  @media (max-width: 920px) {
    margin-top: 50px;
    max-width: 530px;
    margin-left: 0;
  }
  .modal-window-booking-card-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("./assets/svg/modal-icons/modal-image.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 150px 120px;
  }
  .modal-window-booking-card-preview > h5 {
    font-family: $Font-text;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
  }
  .modal-window-booking-card-preview > h6 {
    margin-bottom: 10px;
    font-family: $Font-text;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    opacity: 0.9;
  }
  .modal-window-booking-card-preview > ul > li {
    margin-bottom: 5px;
    text-align: left;
    list-style-type: none;
    font-family: $Font-text;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
  }
  .modal-window-booking-card-preview > ul > li > img {
    margin-right: 15px;
  }
  .modal-window-booking-card-preview-total-price {
    width: 100%;
    margin-top: 15px;
  }
  .modal-window-booking-card-preview-total-price > div {
    display: flex;
    justify-content: space-between;
  }
  .modal-window-booking-card-preview-total-price > div > p {
    font-family: $Font-text;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #030303;
  }
  .modal-window-booking-card-preview-total-price {
    .total-amount {
      margin-right: 10px;
      display: inline-block;
      width: 32px;
      height: 20px;
      font-size: 18px;
      line-height: 21px;
      color: #A4A4A3;
      background-color: #030303;
      border-radius: 5px;
    }
  }
  .modal-window-booking-card-preview-total-price > hr {
    margin: 10px 0;
    border-top: 2px solid #740C11;
  }
  .modal-window-booking-card-payment {
    display: flex;
    width: 100%;
    position: relative;
    .avers {
      top: 0;
      left: 0;
      z-index: 3;
    }
    .revers {
      top: 30px;
      right: 0;
      z-index: 2;
    }
  }
  .modal-window-booking-card-payment > img {
    margin-top: 10px;
    position: absolute;
    @media (max-width: 1450px) {
      display: none;
    }
  }
  .submit {
    position: absolute;
    right: 30px;
    bottom: 25px;
    border-radius: 0;
    padding: 10px 85px;
    font-size: 22px;
    line-height: 26px;

  }
}