@import "common/sass/variables";

.contacts-container > h2 {
  margin-bottom: 25px;
  @media (max-width: 1450px) {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 75px;

  }
}

.contacts-container-map {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1450px) {
    padding-top: 60px;
  }
}

.contacts-container-map-descriptions > h3 {
  margin-bottom: 50px;
  font-family: $Font-text;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  @media (max-width: 1450px) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
  }
}

.contacts-container-map-descriptions > address > p {
  margin-top: 25px;
  font-family: $Font-text;
  font-weight: 300;
  font-style: normal;
  font-size: $Font-text-size;
  line-height: 26px;
  color: #000000;
  @media (max-width: 1450px) {
    font-size: 20px;
    line-height: 23px;
    margin-top: 15px;
  }
}

.contacts-container-map-descriptions > address > p > a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.contacts-container-map-descriptions > address > p > a:hover {
  text-decoration: underline;
}

.contacts-container-map-view {
  width: 960px;
  height: 620px;
  @media (max-width: 1450px) {
    width: 694px;
    height: 454px;
  }
}