@import "common/sass/variables";

.explore-section {
  background-color: $BG-Dark;
}
.explore-container {
  display: flex;
  padding: 75px 0;
}
.explore-container-description {

}
.explore-container-description > h2 {
  margin-bottom: 75px;
}
.explore-container-description > p {
  margin-bottom: 25px;
}
.explore-section-yellow-veil-text {
  color: #CAAA7D;
}
.explore-container-image {
  padding-top: 15px;
  padding-left: 60px;
}
