@import "common/sass/variables";

.gallery-section {
  background-color: $BG-Dark;
}

.gallery-container {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  height: 2125px;
  padding-top: 75px;
  @media (max-width: 1450px) {
    padding-top: 60px;
    height: 1900px;
  }
}

.gallery-container > h2 {
  margin-bottom: 75px;
  @media (max-width: 1450px) {
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 60px;
  }
}

.gallery-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 2900px;
  @media (max-width: 1450px) {
    max-height: 1950px;
  }
}

.gallery-content-item {
  margin-bottom: 24px;
  margin-right: 24px;
  @media (max-width: 1450px) {
    width: 30%;
  }
}

.gallery-content-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}