@import "common/sass/variables";

.gallery-section {
  background-color: $BG-Dark;
}

.gallery-container {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  height: 2125px;
  padding-top: 75px;
}

.gallery-container > h2 {
  margin-bottom: 75px;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 2900px;
  padding-top: 50px;
}
.gallery-content > img:first-child {
  padding-top: -50px;
}
.gallery-content > img:nth-child(10) {
  padding-top: -50px;
}
.gallery-content-item {
  margin-bottom: 24px;
  margin-right: 24px;
}

.gallery-content-shadow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}