@import "common/sass/variables";

.virtual-title {
  margin-bottom: 25px;
  @media (max-width: 1450px) {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 75px;
  }
  @media (max-width: 920px) {
    font-size: 40px;
    line-height: 60px;
  }
}

.virtual-tour-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1450px) {
    justify-content: space-around;
  }
}

.virtual-tour-element {
  margin-top: 75px;
  display: block;
  text-decoration: none;
  color: #000000;
  @media (max-width: 1450px) {
    margin-top: 60px;
  }
  @media (max-width: 920px) {
    margin-top: 40px;
  }
}

.virtual-tour-element-image {
  width: 440px;
  height: 285px;
  @media (max-width: 1450px) {
    width: 330px;
    height: 215px;
  }
  @media (max-width: 920px) {
    width: 280px;
    height: 180px;
  }
}

.virtual-tour-element-title {
  margin-top: 25px;
  font-family: $Font-heading;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  @media (max-width: 1450px) {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 3px;
  }
  @media (max-width: 920px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.virtual-tour-element > .virtual-tour-element-title:after {
  width: 70%;
  bottom: -10px;
  @media (max-width: 1450px) {
    width: 45%;
  }
}

.virtual-tour-element:hover > .virtual-tour-element-title:after {
  width: 100%;
  transition: 0.3s linear;
}

.virtual-tour-element-text {
  margin-top: 20px;
}

.virtual-tour-element-text > .section-text {
  color: inherit;
  font-size: 18px;
  @media (max-width: 1450px) {
    margin-top: 10px;
    line-height: 23px;
  }
  @media (max-width: 920px) {
    line-height: 21px;
  }
}