@import "common/sass/variables";

.virtual-title {
  margin-bottom: 25px;
}

.virtual-tour-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.virtual-tour-element {
  margin-top: 75px;
  display: block;
  text-decoration: none;
  color: #000000;
}

.virtual-tour-element-image {
  width: 440px;
  height: 285px;
}

.virtual-tour-element-title {
  margin-top: 25px;
  font-family: $Font-heading;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.virtual-tour-element > .virtual-tour-element-title:after {
  width: 70%;
  bottom: -10px;
}

.virtual-tour-element:hover > .virtual-tour-element-title:after {
  width: 100%;
  transition: 0.3s linear;
}

.virtual-tour-element-text {
  margin-top: 20px;
}

.virtual-tour-element-text > .section-text {
  color: inherit;
  font-size: 18px;
}