@import "common/sass/variables";

.welcome-section {
  background-color: $BG-Dark;

  .welcome-container {
    position: relative;
    height: 810px;

    .welcome-description {
      position: absolute;
      display: block;
      top: 150px;
      left: 0;
      z-index: 1;

      .welcome-description-text {
        margin-top: 25px;
      }

      .welcome-description-link {
        display: inline-block;
        margin-top: 75px;
      }
    }
    .welcome-carousel {
      position: absolute;
      left: 440px;
      .welcome-carousel-items {
        position: relative;
        overflow: hidden;

        .welcome-carousel-item {
          display: none;
          animation: 0.5s ease-in-out;
        }
        .active,
        .next {
          display: block;
        }
        .next {
          position: absolute;
          top: 0;
          width: 100%;
        }
        .to-left {
          animation-name: left;
        }
        .to-right {
          animation-name: right;
        }
        .from-left {
          animation-name: left;
          animation-direction: reverse;
        }
        .from-right {
          animation-name: right;
          animation-direction: reverse;
        }
        @keyframes left {
          from {
            left: 0;
          }
          to {
            left: 100%;
          }
        }
        @keyframes right {
          from {
            right: 0;
          }
          to {
            right: 100%;
          }
        }
      }
      .welcome-carousel-controls {
        position: absolute;
        display: flex;
        justify-content: space-between;
        right: 0;
        ul {
          display: flex;
          background-color: white;
        }
        .welcome-carousel-controls-display {
          background-color: white;
        }
      }
    }

  }
}