@import "style/common/common";
@import "style/common/iframe";
@import "style/header";
@import "style/welcome";
@import "style/virtual";

:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
