@import "sass/variables";

.section {
  margin-bottom: 75px;
  @media (max-width: 1450px) {
    margin-bottom: 60px;
  }
  @media (max-width: 920px) {
    margin-bottom: 40px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  @media (max-width: 1450px) {
    max-width: 1024px;
    padding: 0 20px;
  }
}


.section-title {
  font-family: $Font-heading;
  font-size: $Font-heading-size;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  color: $Font-lite;
  text-transform: uppercase;
}

.section-title-gold {
  color: $Font-gold;
}

.underline-title {
  position: relative;
}

.underline-title:after {
  position: absolute;
  content: '';
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $Dark-red;
  @media (max-width: 1450px) {
    bottom: -20px;
  }
}

.section-text {
  font-family: $Font-text;
  font-size: $Font-text-size;
  font-weight: 300;
  line-height: 38px;
  color: $Font-lite;
}

.button {
  padding: 24px 64px;
  font-family: $Font-text;
  font-size: $Button-font-size;
  line-height: 26px;
  letter-spacing: 2px;
  color: $Font-lite;
  border: none;
  background-color: $Dark-red;
  border-radius: 10px;
  transition: 0.3s linear;
  @media (max-width: 1450px) {
    line-height: 23px;
    font-size: 20px;
    padding: 18px 45px;
  }
}

.button:hover {
  background-color: $Font-gold;
  transition: 0.3s linear;
}

.logo {
  display: flex;

  .logo-image {
    width: 50px;
    background-image: url("./assets/svg/louvre-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    color: $Font-lite;
    @media (max-width: 730px) {
      background-size: 30px;
    }
  }

  .logo-title {
    padding-top: 2px;
    margin-left: 25px;
    font-family: $Font-heading;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 31px;
    color: $Font-lite;
    text-transform: uppercase;
    @media (max-width: 730px) {
      font-size: 16px;
      margin-left: 20px;
      line-height: 18px;
    }
  }
}

.navigation {
  ul {
    display: flex;
    color: $Font-lite;

    li {
      margin-left: 55px;
      list-style-type: none;
      font-family: $Font-text;
      font-size: 22px;
      line-height: 26px;
      font-weight: 200;
      letter-spacing: 2px;
    }

    li:hover {
      color: $Hover-color;
    }

    li:first-child {
      margin-left: 0;
    }

    li > a {
      color: inherit;
      text-decoration: none;
    }

    li > a:hover {
      text-decoration: underline;
      transition: 0.3s linear;
    }

    li > a:visited {
      color: $Active-color;
    }
  }
  @media (max-width: 1450px) {
    display: none;
  }
}