@import "sass/variables";

.section {
  margin-bottom: 75px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;

  border: 1px solid aquamarine;
}

.section-title {
  font-family: $Font-heading;
  font-size: $Font-heading-size;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  color: $Font-lite;
  text-transform: uppercase;
}

.section-title-gold {
  color: $Font-gold;
}

.underline-title {
  position: relative;
}
.underline-title:after {
  position: absolute;
  content: '';
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $Dark-red;
}

.section-text {
  font-family: $Font-text;
  font-size: $Font-text-size;
  font-weight: 300;
  line-height: 38px;
  color: $Font-lite;
}

.button {
  padding: 24px 64px;
  font-family: $Font-text;
  font-size: $Button-font-size;
  line-height: 26px;
  letter-spacing: 2px;
  color: $Font-lite;
  border: none;
  background-color: $Dark-red;
  border-radius: 10px;
  transition: 0.3s linear;
}

.button:hover {
  background-color: $Font-gold;
  transition: 0.3s linear;
}