$BG-Dark: #030303;
$Dark-red: #710707;
$Font-gold: #9D8665;
$Font-lite: rgba(255, 255, 255, 1);
$Font-heading: 'Forum', coursive;
$Font-heading-size: 80px;
$Font-text: 'Roboto', sans-serif;
$Font-text-size: 22px;
$Button-font-size: 22px;
$Hover-color: #9D8665;